scenario_name: "pony_data"

local_data {
  lidar_dir: "/home/faebdc/auto/perception_project/20171229_nanian_130255/select/VelodyneDevice32c/123"
  label_dir: "/home/faebdc/auto/perception_project/20171229_nanian_130255/label/VelodyneDevice32c/123"
  #camera_dir: "/home/faebdc/auto/perception_project/20171229_nanian_130255/select/GigECameraDeviceWideAngle/123"
}

